<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="jquery.ba-tinypubsub.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">

    <script type="text/htmlh" id="iframeTemplate">
        <div id="<%= obj.jsFiddleUrl %>">
            <h3><%= obj.description %></h3>

            <% if ( obj.site === "jsfiddle") { %>
                <iframe width="100%" height="300" src="http://jsfiddle.net/deepaksisodiya/<%= obj.jsFiddleUrl %>/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <% } %>

            <% if ( obj.site === "jsbin") { %>
            <iframe width="100%" height="300" src="http://jsbin.com/<%= obj.jsFiddleUrl %>/embed?html,js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
            <% } %>

        </div>
    </script>

    <script type="text/html" id="navBar">
        <% obj.map(function (elem, index) { %>
        <ul>
            <li>
                <a data-index="<%=index%>" class="link" href="#<%=elem.jsFiddleUrl %>"><%=elem.title %></a>
            </li>
        </ul>
        <% }); %>
    </script>

    <script type="text/html" id="myAppTemplate">
        <div>
            My JS Programs
        </div>
    </script>

</head>
<body>
    <header id="myApp"></header>


    <section id="section1">
    </section>

    <nav id="nav1">
    </nav>


    <script src="common.js"></script>
    <script src="App.navComponent.js"></script>
    <script src="App.bodyComponent.js"></script>
    <script src="App.MyApp.js"></script>
    <script src="App.main.js"></script>

</body>
</html>