html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
}
#section1 {
    float: right;
    width: 80%;
}
#nav1 {
    float: left;
    width: 20%;
}